@import "project.less";
@import "smart-grid.less";

.reset();

.wrapper{
    .wrapper();
}


.debug{
    .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}

h2, .h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
}

.h2sub{
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.humans{ 
    background: @color_green;
    padding: 10px 0;

    h2{
        color: @color_black;
    }

    .h2sub{
        color: #fff;
    }

    .items{
        .row-flex();
        .justify-content-xs(center);
        
        .item{
            .col();
            .size(3);
            .size-md(6);
            .size-xs(10);
            
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px;
            text-align: center;
            background: #fff;
            display: flex;
            flex-direction: column;

            img{
                margin: 10px auto;
                width: 90%;
            }

            .subtitle{
                color: #6cc372;
                font-size: 24px;
                margin: 10px;
            }

            .job{
                margin: auto 10px 10px 10px;
            }

            .follow{
                background: #6cc372;
                color: #fff;
                font-size: 24px;
                cursor: pointer;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}
