body {
  margin: 50px;
  background: #eee url('../img/school.png');
}

.wrap_result {
  width: 1250px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.result,
#container {
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.main-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-list a {
  font-size: 17px;
  line-height: 2em;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #3f51b5;
}

.main-list a:hover {
  background: rgba(0, 0, 0, .1);
}

.wrap {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #196F3D;
}

.wrap:after {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.icon {
  line-height: 2rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 10px;
  vertical-align: middle;
  fill: currentColor;
  fill: #2874A6;
  fill-opacity: .75;
}

.icon:hover {
  fill-opacity: 1;
}

.hide {
  display: none;
}

h2 {
  color: #BA4A00;
}

.modify:hover {
  fill: #BA4A00;
}

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  margin: 0 5px;
}

[class^="icon-"] {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.icon-fb,
.icon-fb\:regular {
  background-image: url('../img/icons.svg');
  background-position: 0 0;
  background-repeat: no-repeat
}

.icon-fb-dims {
  width: 32px;
  height: 32px
}

.icon-g,
.icon-g\:regular {
  background-image: url('../img/icons.svg');
  background-position: 0 -32px;
  background-repeat: no-repeat
}

.icon-g-dims {
  width: 32px;
  height: 32px
}

.icon-tw,
.icon-tw\:regular {
  background-image: url('../img/icons.svg');
  background-position: 0 -64px;
  background-repeat: no-repeat
}

.icon-tw-dims {
  width: 32px;
  height: 32px
}