/* ----- grid ----- */

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  container: 960px,

  //debug: (
  //  image: show,
  //  color: rgba(#66f, .5),
  //  output: background,
  //  //toggle: top right,
  //),
);

